a {
  text-decoration: none;
  color: #000;
}

.Card {
  margin: 3rem 0;
  border-radius: 0.5rem;
  box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-height: 400px;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Card__Body {
  padding: 2rem 1rem;
}

.Card__Body-Title {
  margin-bottom: 1rem;
}

.Card__Body-Info {
  font-weight: 600;
}

.Card__Body-Info span {
  font-weight: 300;
}
