.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 4rem;
  box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 8%;
}
